<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>University</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/knockout")
</head>
<body>
    
    @Html.Partial("NavigationPanel")

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    
    <script>
        var viewModel = {
            navbar: new NavPanelViewModel([
                { caption: 'Students', url: '@Url.Action("~/Dean/Students")' },
                { caption: 'Instructors', url: '@Url.Action("~/Dean/Instructors")' },
                { caption: 'Total student instructors', url: '@Url.Action("~/Dean/AllStudentsInstructor")' }
            ], '/Home')
        };
    </script>

    @RenderSection("scripts", required: false)

    <script>
        ko.applyBindings(viewModel);
    </script>
</body>
</html>