
@{
    ViewBag.Title = "Instructors";
}

<h2>Instructors</h2>

<br />

@Html.Partial("AjaxDataGrid")

<br />

@section scripts {
    <script>

        viewModel.grid = new AjaxGridViewModel(
            '@Url.Action("List")', //url
            true, //hasSearchBox
            [//buttons
                { name: 'Create', url: '@Url.Action("CreateOrUpdate")' },
                { name: 'Edit', url: '@Url.Action("CreateOrUpdate")' },
                { name: 'AddItem', url: '@Url.Action("AddItem")' },
                { name: 'Delete', url: '@Url.Action("Delete")' },
            ]
        );

</script>

}


