@@model PagedList.IPagedList<university.models.course>
    @using PagedList.Mvc;
    @using University.Models;

    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

    @{
        ViewBag.Title = "Instructors";
    }

    <!-- HTML код диалогового окна-->
    <div id="modalForm" class="modal fade"></div>

    <h2>Instructors</h2>

    <br />

    @using (Html.BeginForm("Index", "Courses", FormMethod.Get, new { @class = "navbar-form pull-left", role = "search" }))
    {
        <div class="input-group">
            @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control", @placeholder = "Search" })
            <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
            <div class="input-group-btn">
                <a id="btnCreate" href="#" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></a>
                <a id="btnUpdate" href="#" class="btn btn-default"><span class="glyphicon glyphicon-edit"></span></a>
                <a id="btnAddItem" href="#" class="btn btn-default"><span class="glyphicon glyphicon-user"></span></a>
                <a id="btnDelete" href="#" class="btn btn-default"><span class="glyphicon glyphicon-folder-close"></span></a>
            </div>
        </div>

        <br />
    }

    <form class="navbar-form pull-left" role="search"></form>

    <table id="dataList" class="table table-striped table-hover">
        <thead>
            <tr>
                <th>
                    <a href="@Url.Action("Index")">
                        <span class="glyphicon glyphicon-refresh"></span>
                    </a>
                </th>
                <th>
                    @Html.ActionLink("Last Name", "Index", new { sortOrder = ViewBag.InstructorLastSortParm })
                </th>
                <th>
                    @Html.ActionLink("First Name", "Index", new { sortOrder = ViewBag.InstructorFirstNameSortParm })
                </th>
                <th>
                    @Html.ActionLink("Course", "Index", new { sortOrder = ViewBag.CourseNameSortParm })
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr data-row-id="@item.CourseID">
                    <td><input type="checkbox"></td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InstructorLastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InstructorFirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CourseName)
                    </td>
                </tr>
            }
        </tbody>
    </table>

    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

    @section scripts {
        <script src="~/Scripts/ajax-grid-view-model.js"></script>
        <script>

            var AdvancedDataList = (function () {
                var checkedCourseId = 0;

                return {
                    init: function () {
                        var $checkboxes = $('#dataList td:nth-child(1) > input[type="checkbox"]');
                        $checkboxes.change(function () {
                            var self = this;
                            if (this.checked) {
                                checkedCourseId = getCheckBoxRowId(this);
                                $checkboxes.each(function () {
                                    if (self !== this) {
                                        this.checked = false;
                                    }
                                });
                            } else {
                                checkedCourseId = 0;
                            }
                        });

                        $('#btnCreate').click(getActionCallback("Create"));
                        $('#btnUpdate').click(getActionCallback("Update"));
                        $('#btnDelete').click(getActionCallback("Delete"));
                    },

                    onDeleteSuccess: function (data) {
                        if (data.isValid) {
                            $('#modalForm').modal('hide');
                            deleteRow(data);
                        } else {
                            $('#modalForm').html(data.partialView);
                        }
                    },

                    onCreateOrUpdateSuccess: function (data) {
                        if (data.isValid) {
                            $('#modalForm').modal('hide');
                            if (data.isNew) {
                                appendRow(data);
                            } else {
                                editRow(data);
                            }
                        } else {
                            $('#modalForm').html(data.partialView);
                        }
                    }
                }

                function getActionCallback(state) {
                    return function onActionClick(e) {
                        e.preventDefault();
                        var url;
                        if (state == 'Create' || state == 'Update') {
                            url = '@Url.Action("CreateOrUpdate")';
                        }
                        if (state == 'Delete') {
                            url = '@Url.Action("Delete")';
                        }
                        if (state == 'Delete' || state == 'Update') {
                            if (!checkedCourseId) return;
                            url += '/' + checkedCourseId;
                        }

                        $.ajax({
                            url: url,
                            success: function (data) {
                                $('#modalForm').html(data).modal('show');
                            }
                        });
                    }
                }

                function appendRow(data) {
                    var tr = document.createElement('tr');
                    tr.innerHTML = '<td><input type="checkbox"></td>'
                                 + '<td>' + data.lastName + '</td>'
                                 + '<td>' + data.firstName + '</td>'
                                 + '<td>' + data.courseName + '</td>';

                    document.querySelector('#dataList > tbody').appendChild(tr);
                }

                function deleteRow(data) {
                    var tr = getRow(data.id);
                    if (!tr) return;
                    tr.parentNode.removeChild(tr);
                }

                function editRow(data) {
                    var tr = getRow(data.id);
                    if (!tr) return;
                    tr.cells[1].innerHTML = data.lastName;
                    tr.cells[2].innerHTML = data.firstName;
                    tr.cells[3].innerHTML = data.courseName;
                }

                function getCheckBoxRowId(elem) {
                    return elem.parentNode.parentNode.getAttribute('data-row-id');
                }

                function getRow(id) {
                    return document.querySelector('#dataList tr[data-row-id="' + id + '"]');
                }
            })();

            $(document).ready(AdvancedDataList.init);



        </script>
    }












    <script type="text/html" id="TableRow">
        <tr>
            <td data-bind="text: FirstName"></td>
            <td data-bind="text: LastName"></td>
            <td data-bind="text: Course"></td>
        </tr>
    </script>

    <table data-widjet-ajaxgrid-table>
        <thead>
            <tr data-bind="on: { 'click th': 'sortBy', data: 'name' }">
                <th data-name="FirstName">First name</th>
                <th data-name="LastName">Status</th>
                <th data-name="Course">Course</th>
            </tr>
        </thead>
        <tbody data-bind="template: { name: 'TableRow', foreach: rows }"></tbody>
    </table>

    <script type="text/html" id="PagingPanel">
        Page
        <span data-bind="text: PageNumber" /> of
        <span data-bind="text: TotalPagesCount" />.
        <br />
        <a href="#next" data-bind="click: back"><</a>

        <a href="#next" data-bind="click: next">></a>
    </script>
    <div data-bind="template: { name: 'PagingPanel', data: paging }"></div>


    @section scripts {
        <script src="~/Scripts/ajax-grid-view-model.js"></script>
        <script>

            ko.applyBindings(new AjaxGridViewModel('@Url.Action("List")'))

        </script>
    }









